@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-top: env(safe-area-inset-top);
}

html, body {
  height: 100%;
}

body {
  background-color: #0b1020; /* fallback for when Tailwind classes are not yet applied */
  -webkit-tap-highlight-color: transparent;
}

.safe-pb {
  padding-bottom: max(var(--safe-bottom), 0px);
}

.safe-pt {
  padding-top: max(var(--safe-top), 0px);
}
